.st0 {
  fill: #E8F3E2; }

.st1 {
  fill: #FAF4A8; }

.st2 {
  fill: #DDD162; }

.st3 {
  fill: #F3CA76; }

.st4 {
  fill: #FDF387; }

.st5 {
  fill: #CFE9DB; }

.st6 {
  fill: #B7E0D0; }

.st7 {
  opacity: 0.5; }

.st8 {
  fill: none;
  stroke: #DAB6C4;
  stroke-miterlimit: 10; }

.st9 {
  fill: none;
  stroke: #E6D0D8;
  stroke-miterlimit: 10; }

.st10 {
  fill: #E7D0D8; }

.st11 {
  fill: #DAB6C4; }

.st12 {
  fill: #B5D780; }

.st13 {
  fill: #9CB17E; }

.st14 {
  fill: #B5D780;
  stroke: #B5D780;
  stroke-width: 0.25;
  stroke-miterlimit: 10; }

.st15 {
  fill: #AEC58B;
  stroke: #AEC58B;
  stroke-width: 0.25;
  stroke-miterlimit: 10; }

.st16 {
  fill: #7D8A71; }

.st17 {
  fill: #AEC58B; }

.st18 {
  fill: none; }

.st19 {
  fill: #F69EAC; }

.st20 {
  fill: #C38F98; }

.st21 {
  fill: #816872; }

.st22 {
  fill: #6D6066; }

.st23 {
  fill: #806871; }

.st24 {
  fill: #DBBF53; }

.st25 {
  opacity: 0.6;
  fill: none;
  stroke: #8D6876;
  stroke-miterlimit: 10;
  enable-background: new; }

.st26 {
  fill: #E0B24D; }

.st27 {
  fill: #F0BF53; }

.st28 {
  fill: #8D6876; }

.st29 {
  fill: #BF6872; }

.st30 {
  fill: #E4BD9F; }

.st31 {
  fill: #EA8FA2; }

.st32 {
  fill: #38342E; }

.st33 {
  fill: #8CB4E0; }

.st34 {
  fill: #0A0706;
  stroke: #0A0706;
  stroke-miterlimit: 10; }

.st35 {
  fill: #E0BA9D; }

.st36 {
  fill: #261F1B; }

.st37 {
  fill: #231F20; }

.st38 {
  fill: #E2E3E4; }

.st39 {
  fill: #FFFFFF; }

.st40 {
  fill: #E3E3DF; }

.st41 {
  fill: #CE934A; }

.st42 {
  fill: #906830; }

.st43 {
  fill: #805B28; }

.st44 {
  fill: #875520; }

.st45 {
  fill: #452A0A; }

.st46 {
  fill: #2C2C2D; }

.st47 {
  fill: #1F1F20; }

.st48 {
  fill: #B29EA7; }

.st49 {
  fill: #FFB1A5; }

.st50 {
  fill: #FBFBFB; }

.st51 {
  fill: #EBEBED; }

.st52 {
  fill: #353A42; }

.st53 {
  opacity: 0.3;
  fill: #FFFFFF; }

.st54 {
  fill: #C6C49E; }

.st55 {
  fill: none;
  stroke: #F69EAC;
  stroke-miterlimit: 10; }

.st56 {
  fill: #F16A83; }

.st57 {
  fill: none;
  stroke: #C38F98;
  stroke-miterlimit: 10; }

.st58 {
  fill: #C5C072; }

.st59 {
  fill: #FDF164; }

.st60 {
  fill: #DBEDD1; }

.st61 {
  fill: #B2BEAF; }

.st62 {
  fill: #FEEB19; }

.st63 {
  fill: #9998C8; }

.st64 {
  fill: #FEF5B1; }

.st65 {
  fill: #FAC1C4; }

.st66 {
  fill: none;
  stroke: #8D6876;
  stroke-miterlimit: 10; }

.st67 {
  fill: #BFA264; }

.st68 {
  fill: none;
  stroke: #806871;
  stroke-miterlimit: 10; }

.st69 {
  fill: #CE9D2B; }

.st70 {
  fill: #C06975; }

.st71 {
  fill: #E0EFD3; }

.st72 {
  fill: #B9E1D2; }

.st73 {
  fill: #DFEDC9; }

.st74 {
  fill: #A48691; }

.st75 {
  fill: #EFF7EA; }

.st76 {
  fill: #FCD6D9; }

.st77 {
  fill: #F6D695; }

.st78 {
  fill: #FCF8CA; }

.st79 {
  fill: #EDDEE3; }

.st80 {
  fill: #B8B2D8; }

.st81 {
  fill: #FEF7B7; }

.st82 {
  fill: #FF6699; }

.st83 {
  enable-background: new; }

.st84 {
  fill: #FFCCCC; }

.st85 {
  opacity: 0.89;
  fill: none;
  stroke: #231815;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  enable-background: new; }

.st86 {
  fill: #EBC570; }

/*****************************************************************/
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: #E8F3E2; }

.container {
  /*display: inline-block;*/
  overflow: hidden;
  width: 100%;
  max-height: 100%; }

/*
svg {
    width: 100%;
    height: auto;
    overflow: hidden;
}
*/
/* Ferris wheel */
#needles {
  -webkit-animation: rotate 16s linear infinite;
  animation: rotate 16s linear infinite;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  transform-box: fill-box; }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg); } }
#arms {
  -webkit-animation: rotate-out 16s linear infinite;
  animation: rotate-out 16s linear infinite;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  transform-box: fill-box; }

@keyframes rotate-out {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }
#cabins {
  -webkit-animation: cabin-transit 16s linear infinite;
  animation: cabin-transit 16s linear infinite;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  transform-box: fill-box; }

@keyframes cabin-transit {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }
#cabins > * {
  -webkit-animation: cabin-transform 16s linear infinite;
  animation: cabin-transform 16s linear infinite;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  transform-box: fill-box; }

@keyframes cabin-transform {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg); } }
#balloon-1,
#balloon-2,
#balloon,
[id*="balloons-"] {
  -webkit-animation: balloon-anim 5s linear infinite;
  animation: balloon-anim 5s linear infinite;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  transform-box: fill-box; }

/* the second balloon step */
#balloon-2 {
  animation-name: balloon-2-anim; }

@keyframes balloon-2-anim {
  0% {
    -webkit-transform: rotate(0deg) translate(0);
    transform: rotate(0deg) translate(0); }
  30% {
    -webkit-transform: rotate(2deg) translateY(5px);
    transform: rotate(2deg) translateY(5px); }
  55% {
    -webkit-transform: rotate(-2deg) translateY(-5px);
    transform: rotate(-2deg) translateY(-5px); }
  80% {
    -webkit-transform: rotate(-2deg) translateY(5px);
    transform: rotate(-2deg) translateY(5px); }
  100% {
    -webkit-transform: rotate(0deg) translate(0);
    transform: rotate(0deg) translate(0); } }
/* /the second balloon step */
@keyframes balloon-anim {
  0% {
    -webkit-transform: rotate(0deg) translate(0);
    transform: rotate(0deg) translate(0); }
  25% {
    -webkit-transform: rotate(2deg) translateY(5px);
    transform: rotate(2deg) translateY(5px); }
  50% {
    -webkit-transform: rotate(-2deg) translateY(-5px);
    transform: rotate(-2deg) translateY(-5px); }
  75% {
    -webkit-transform: rotate(-2deg) translateY(5px);
    transform: rotate(-2deg) translateY(5px); }
  100% {
    -webkit-transform: rotate(0deg) translate(0);
    transform: rotate(0deg) translate(0); } }
#clouds-front {
  -webkit-animation: cloud-transit infinite ease-in-out 5s;
  animation: cloud-transit infinite ease-in-out 5s; }

#clouds-back {
  -webkit-animation: cloud-transit-2 infinite ease-out 5s;
  animation: cloud-transit-2 infinite ease-out 5s; }

@keyframes cloud-transit {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
    opacity: 0; } }
@keyframes cloud-transit-2 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateX(5%);
    transform: translateX(5%); } }
/************************************/
/* hover letters  */
[id*="balloons"] > g:hover > path:nth-child(2) {
  fill: white; }

/***********************************/
/* carousel */
#carousel-2 {
  perspective: 5000px;
  perspective-origin: center bottom; }

@keyframes carousel {
  from {
    transform: rotateY(0deg) translateZ(50px) translateY(6px);
    z-index: 10; }
  50% {
    transform: rotateY(180deg) translateZ(50px) translateY(-6px);
    z-index: -10; }
  to {
    transform: rotateY(360deg) translateZ(50px) translateY(6px);
    z-index: 10; } }
@keyframes hors-transition {
  25% {
    opacity: 1;
    fill-opacity: 1; }
  26% {
    opacity: 0;
    fill-opacity: 0; }
  74% {
    opacity: 0;
    fill-opacity: 0; }
  75% {
    opacity: 1;
    fill-opacity: 1; } }
[id^='hors'] {
  transform-origin: center center;
  backface-visibility: hidden;
  animation: carousel 18s infinite linear, hors-transition 18s infinite linear;
  transform-box: fill-box; }

[id^='hors-1'] {
  animation-delay: -18s; }

[id^='hors-2'] {
  animation-delay: -15s; }

[id^='hors-3'] {
  animation-delay: -12s; }

[id^='hors-4'] {
  animation-delay: -9s; }

[id^='hors-5'] {
  animation-delay: -6s; }

[id^='hors-6'] {
  animation-delay: -3s; }

[id^='hors-2'] > line {
  /*stroke: blue;*/ }

[id^='hors-3'] > line {
  /*stroke: red;*/ }

.z-active #post rect
 {
  fill: #ffff3a; }

/* /carousel */
/* balloon */
.balloons-2.z-active {
  animation: flurr 7s ease-in forwards !important; }

@keyframes flurr {
  to {
    transform: translateY(-150vh); } }
.balloons > [id^="bb"] {
  transition: 8s ease-in; }

.balloons.z-active > #bb-1 {
  transform: translate(30vw, -150vh); }

.balloons.z-active > #bb-2 {
  transform: translate(24vw, -150vh); }

.balloons.z-active > #bb-3 {
  transform: translate(18vw, -150vh); }

.balloons.z-active > #bb-4 {
  transform: translate(12vw, -150vh); }

.balloons.z-active > #bb-5 {
  transform: translate(0vw, -150vh); }

.balloons.z-active > #bb-6 {
  transform: translate(12vw, -150vh); }

.balloons.z-active > #bb-7 {
  transform: translate(24vw, -150vh); }

.balloons.z-active > #bb-8 {
  transform: translate(18vw, -150vh); }

.balloons.z-active > #bb-9 {
  transform: translate(-12vw, -150vh); }

.balloons.z-active > #bb-10 {
  transform: translate(-24vw, -150vh); }

.balloons.z-active > #bb-11 {
  transform: translate(-30vw, -150vh); }

.balloons.z-active > #bb-12 {
  transform: translate(-36vw, -150vh); }

.balloons.z-active > #bb-13 {
  transform: translate(0vw, -150vh); }

/*# sourceMappingURL=index.css.map */
